body{
    background: url(../../images/omedia_login/bg.jpg) no-repeat center center fixed!important;
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
    margin: 0;
    overflow: hidden;
}
.user-login-wrapper{
    width: 570px;
    background: #fbfbfa;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(232,232,232,1);
    -moz-box-shadow: 0px 0px 11px 0px rgba(232,232,232,1);
    box-shadow: 0px 0px 11px 0px rgba(232,232,232,1);
    text-align: center;
    padding-top: 10px;
}
.omedia-logo{
    margin-bottom: 20px;
}
.user-login-wrapper form label{
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    color: #40464a;
}
.user-login-wrapper form .description{
    display: none;
}
.user-login-wrapper form input[type=text], .user-login-wrapper form input[type=password]{
    width: 400px;
    margin-bottom: 20px;
    background: #ffffff;
    height: 60px;
    padding: 5px;
    line-height: 50px;
    border: 1px solid #40464a;
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
}
.user-login-wrapper form{
    margin-bottom: 20px;
}
.user-login-wrapper form input[type=submit]{
    border-radius: 3px;
    background-color: #f37521;
    width: 400px;
    height: 60px;
    box-shadow: none;
    font-size: 20px;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    border-bottom: 4px solid #f36100;
}
.user-login-wrapper form input[type=submit]:hover{
    border-bottom: none;
}