// compass
@import "compass/utilities";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";

// other vendor
@import "vendor/breakpoint/breakpoint";

// font vars



$exo-demibold:  'exo-demibold', Sylfaen, Arial, sans-serif;


$font-body: "opensans-light", Sylfaen, Arial, sans-serif;
$font-body-bold:  "opensans-semibold", Sylfaen, Arial, sans-serif;




// weight vars
$bold: 700;

// z-indexes
$zindex0: 0;
$zindex1: 10;
$zindex2: 20;
$zindex3: 30;
$zindex4: 40;
$zindex5: 50;
$zindex6: 60;
$zindexAbs: 9999;


//Colors

$white: #FFFFFF;
$black: #000000;

$site-bg: #e7e7f1;

$link: #1b1c55;

$text: #2B2B2B;




$purple: #65325a;

$purple-dark: #1b1c55;

$purple-light:#445ea8;


$gray: #aeaeae;

