@import "compass/reset";
// base
@import "base";
@import "mixins";
















.basic-text
{

line-height: 1.5em;
	

	

.article-title
{
	color: $purple;
	font-size: 20px;
				font-family: $font-body-bold;
				margin-bottom:10px;
}

	h1,h2,h3,h4,h5,h6
	{
		
		color: #6c6c6c;
					font-family: $font-body-bold;
	}
	
	
	h1
	{
		font-size: 24px;
		margin-bottom:16px;
	}
	
	h2
	{
		font-size: 22px;
		margin-bottom:15px;
	}
	h3
	{
		font-size: 20px;
		margin-bottom:14px;
	}		
		h4
	{
		font-size: 18px;
		margin-bottom:12px;
	}
	
		h5
	{
		font-size: 16px;
		margin-bottom:10px;
	}
	
			h6
	{
		font-size: 14px;
		margin-bottom:8px;
	}
	
	
		
	blockquote
	{
		font-size: 16px;
		border: 1px solid #dedede;
	
		line-height: 24px;
		background: #ffffff;
		padding: 35px 24px;
		position:relative;
		font-family: $font-body-bold;
		text-align:center;
		margin: 20px 32px;
	
	
	
	&:before
	{
		display:block;
		content:"";
		  background: image-url("blockqote-ic.png") no-repeat center center;
		width: 28px;
		height: 27px;
		position:absolute;
		top: -14px;
		right:0px;
		left:0;
		margin:auto;
	}
	}
	
	
	
	
	ul,ol{
		margin: 20px 40px;
		
		li
		{
			margin-top: 5px;
		}
	}
	ul
		{
			margin: 15px 17px;
			
			li{
				
				margin-top: 12px;
				position:relative;
				margin-left: 22px;
				
				&:before
{
display: block;
content: "";
width:8px;
height:8px;
background: $purple;

	@include border-radius(10px);

	position: absolute;
	left: -22px;
	top: 7px;
}
				
		
			}
		}
	ol
	{
		list-style-type:decimal;
	}
	
	strong
	{
		font-weight:bold;
	}
	
	em
	{
		font-style:italic;
	}
	
	a
	{
		color:$purple-light!important;
		font-weight: bold;
		
		&:hover
		{
			color: $purple!important;
		}
	}
	
	p
	{
	margin: 10px 0;
	
	&:first-child
	{
	margin-top: 0;
	
	}
	}


}


.article-meta
{
	border-top: 3px solid #909090;
	padding-top: 17px;
	
	.icon-attached
	{
		width: 21px;
		height: 18px;
		color: #6c6c6c;
		display: inline-block;
		vertical-align: top;
	}
	
	.article-meta-lab
	{
		font-size:16px;
		color: $purple;
			font-family: $font-body-bold;
	}
	
	a
	{
		color: #6c6c6c;
		margin: 0 22px;
		display: inline-block;
		position: relative;
			font-family: $font-body-bold;
		
		&:first-child
		{
			&:before
			{
				display:none;
			}
		}
		
		
		&:before
		{
			display:inline-block;
			content: "|";
			position:absolute;
			left: -26px;
		top:0;
		color: $purple;
			
		}
	}
}






