@import "compass/reset";
// base
@import "base";
@import "mixins";




.contact-form
{
	background: #f5f5f5;
	border: 1px solid #c4c4c4;
	margin-bottom:30px;
	padding: 37px 40px ;
	
	
}


#googlemaps
{
	height: 476px;
}


.contact-title
{
	color: $purple;
	font-size: 18px;
	font-family: $font-body-bold;
	margin-bottom: 20px;
	
	line-height:22px;
}

.contact-info-item
{
	padding-toP: 11px;
	margin-top: 13px;
	border-top: 1px solid #c3c0c0;
	font-weight:bold;
	
	&:first-child
	{
		border-top:0;
		padding-top:0;
		margin-top: 0;
		
	}
}

.contact-info-department
{
	margin-top: 33px;
	
	&:first-child
	{
		margin-top: 0;

	}
}
		.contact-info-item:first-child
{
		
			background-position:  0 0 !important;
	}
.contact-label
{
	color: $purple;
}

.contact-address
{
	background: image-url("contact-address.png") no-repeat 0 12px;
	padding-left:22px;
	line-height:20px;
}
.contact-mail
{
	background: image-url("contact-mail.png") no-repeat 0 12px;
	padding-left:22px;
	line-height:20px;
}

.contact-fax
{
	background: image-url("contact-fax.png") no-repeat 0 12px;
	padding-left:22px;
	line-height:20px;
}

.contact-phone
{
	background: image-url("contact-phone.png") no-repeat 0 12px;
	padding-left:22px;
	line-height:20px;
}


.contact-form-item
{
	margin-top: 9px;
	
	label
	{
		font-size: 13px;
		color: #676767;
		font-weight: bold;
		cursor: pointer;
	}
	
	&:first-child
	{
		margin-top: 0;
	}
}


.contact-input
{
	background: transparent;
	border: 1px solid #c4c4c4;
	line-height: 26px;
	width: 242px;
	margin-right: 11px;
	padding: 0 10px;
		 font-family: $font-body;
}

.contact-textarea
{
		background: transparent;
	border: 1px solid #c4c4c4;
	line-height: 26px;
	width: 100%;
	margin-right: 11px;
	padding: 10px;
	height: 167px;
	
	@include input-placeholder {
				 color:#aeaeae;
	 @include transition(all 0.3s);
	 font-style:italic;
	 font-family: $font-body;
	
	
			 } ;
			
			
			&:focus
			{
			
			@include input-placeholder { color:transparent} ;
			}
			
}

.contact-form-item-button
{
	text-align:right;
	margin-top: 20px;
}

.contact-form-item-capcha
{
		margin-top: 16px;
}


.contact-button
{
	border: 1px solid #542c45;
	line-height:35px;
	padding: 0 32px;
	color: #fff;
	text-transform:uppercase;
	font-family: $font-body-bold;
		@include background-image(linear-gradient(bottom, #60294c, #91597d));
		@include border-radius(4px);
		
			@include transition(all 0.3s);
			
			
			&:hover
			{
				opacity:0.8;
			}
		
		
		
		.icon-arrow-right2 
		{
			color: #fff;
			width: 10px;
			height: 13px;
			display:inline-block;
			vertical-align:top;
			margin-top: 11px;
			margin-left: 6px;
		}
}


.contact-right
{
	padding-left: 63px;
}

.contact-form
{
	.row
	{
		position:relative;
	}
	
	
	.row:before
	{
		display:block;
		content:"";
		width: 1px;
		height:100%;
		position:absolute;
		top:0;
		left: 275px;
		background: #c3c0c0;
	}
}




