@import "compass/reset";

// base
@import "base";
@import "mixins";



[class^='icon'] {
	display: inline-block;
	fill: currentColor;
}



@include font-face("exo-demibold", font-files('exo-demibold/exo-demibold.woff', 'exo-demibold/exo-demibold.ttf', 'exo-demibold/exo-demibold.svg'), 'exo-demibold/exo-demibold.eot');


@include font-face("opensans-light", font-files('opensans-light/opensans-light.woff', 'opensans-light/opensans-light.ttf', 'opensans-light/opensans-light.svg'), 'opensans-light/opensans-light.eot');

@include font-face("opensans-semibold", font-files('opensans-semibold/opensans-semibold.woff', 'opensans-semibold/opensans-semibold.ttf', 'opensans-semibold/opensans-semibold.svg'), 'opensans-semibold/opensans-semibold.eot');



/*

	bootstrap grid
*/
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
	content: " ";
	display: table;
	@include box-sizing(border-box);
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
	clear: both;
}


.container
{
    width: 1172px;
    margin-left: auto;
    margin-right: auto;
	
}



html
{
	min-height:100%;
	position: relative;
	
		

}

	
	
body 
{
	color: $text;
	font-size: 14px;
	padding-right: 0!important;
	font-family: $font-body;
	padding-bottom:371px;
	min-width: 1172px;
	background: image-url("site-bg.jpg") repeat center top; 
	background-color:$site-bg;
}


.page-content
{
	background: image-url("site-bg-top.jpg") no-repeat center top; 
	padding-bottom: 57px;
	
}







//Helper
*
{
	margin: 0;
	padding:0;
}

*:focus 
{
  outline: none;
}


a {
    text-decoration: none;
    @include transition(all 0.3s);
	color: $link;
	cursor: pointer;
    
    &:hover 
	{
        text-decoration: none;
		color: lighten($link,20%);
    }
	&:focus
	{
		outline:none;
		text-decoration: none;
	}
	&:focus 
	{
		color: lighten($link,20%);
		text-decoration: none;
	}

  	&:active 
	{
		color: lighten($link,20%);
		text-decoration: none;
	}
}


.right
{
	float:right;
}

.left
{
	float:left;
}


.logo
{
	
	height: 50px;
	max-width: 100%;
	
	a
	{
		display: block;
		font-size: 0;
	}

	img
	{
		height: 54px;
	}
	
	&:hover a
	{
		opacity:0.8;
	}
}


//Header


.header
{


	background: image-url("header-bg.jpg") repeat center top; 
	height: 120px;
	
	.logo
	{
		margin-top: 27px;
	}
	
	.header-socs
	{
		
		position:relative;
		padding-right: 38px;
		
	
		&:before
		{
			display: block;
			content: "";
			width: 4px;
			height: 4px;
			background:#e0e0e0;
			@include border-radius(7px);
			position: absolute;
			margin: auto;
			top:0;
			bottom:0;
			right: 13px;
		}
		a
		{
			color: #e1e1e1;
			display:inline-block;
			vertical-align:middle;
			margin-left: 7px;
			
			&:hover
			{
				color: #69698f;
			}
			
			&:first-child
			{
				margin-left:0;
			}
		}
		
		
		
		svg
		{
			max-height: 16px;
		}
		.icon-facebook 
		{
			height:15px;
			width: 14px;
			
		}
		.icon-twitter 
		{
			height:14px;
			width: 14px;
		}
		.icon-linkedin
		{
			height:16px;
			width: 16px;
		}
		.icon-youtube
		{
			height:16px;
			width: 16px;
		}
	}
	
	
	//main menu
	
	.main-menu
	{
		float: right;
		max-width: 100%;
		line-height: 30px;
		border-top: 1px solid #c0bec8;
		padding: 5px 0;
		
	
		li.level-0
		{
			display: inline-block;
			position: relative;
			margin-left: 46px;
			font-family:$exo-demibold;
			font-size: 16px;
		
		
			&:first-child
			{
				margin-left:0;
			
				&:before
				{
					display:none;
				}
			}
		
			&:before
			{
				display: block;
				content: "/";
				width: 6px;
				color: #bdbdbd;
				position: absolute;
				margin: auto;
				top:0;
				bottom:0;
				left: -26px;
			}
			
			> a
			{
				
					letter-spacing:1px;
					
			}
			a
			{
				color: $white;
			
				&:hover
				{
					opacity: 0.5;
				}
			}
		}
	}
	
	
	.havechild:hover
	{
		.submeniu-block
		{
			overflow:visible;
				opacity:1;
		}
	}
	
.submeniu-block
{
	position:absolute;
	padding-top: 22px;
	height:0;
	overflow: hidden;
	@include transition(all 0.5s);
	z-index: 9999;
	opacity:0;
	left: -93px;
}

.submenu
{
	
	width: 200px;
	background:#ffffff;
	font-size: 13px;
	font-family: $font-body-bold;
	border: 1px solid #d0d0d0;
	border-bottom: 6px solid $purple-dark;
	padding: 0 20px;
	position:relative;

	
	&:before
	{
		display:block;
		content:"";
		width: 10px;
		height:10px;
		background:#ffffff;
		position:absolute;
		top:-6px;
		left:0;
		right:0;
		margin: auto;
		border-left: 1px solid #d0d0d0;
		border-top: 1px solid #d0d0d0;
		    @include transform(rotate(45deg));
		
		
	}
	
	a
	{
		color:#808080!important;
	}
	
	li.level-1
	{
		
		position: relative;
		border-top: 1px solid #ececec;
		
		&:first-child
		{
			border-toP:0;
		}
		
		a
		{
			display:block;
			padding: 3px 20px;
			position:relative;
			
			&:hover
			{
				color: #c54b7f!important;
					opacity:1!important;
			}
			
			
			&:before
			{
				display:block;
				content: "";
				width: 5px;
				height:5px;
				background: $purple-light;
				position:absolute;
				left:0;
				top: 16px;
					@include border-radius(7px);
			}
			
			&:hover
			{
			
				//opacity:1!important;
			}
		}
	}
}

.header-right
{
	padding-top: 17px;
}
.header-top
{
	height:30px;
	margin-bottom: 13px;
	text-align:right;
}

.lang-selector
{
	display:inline-block;
	position:relative;
	padding-right: 38px;
	font-family:$exo-demibold;
	
	
	&:before
	{
		display: block;
		content: "";
		width: 4px;
		height: 4px;
		background:#e0e0e0;
		@include border-radius(7px);
		position: absolute;
		margin: auto;
		top:0;
		bottom:0;
		right: 13px;
	}
	
	a
	{
		color:#c5c5c5;
		
		&:hover
		{
			color: #ffffff;
		}
	}
	span
	{
		color: #ffffff;
	}
	.separator
	{
		color:#636289;
		margin: 0 3px;
	}
}
.header-socs
{
	display:inline-block;
}

.search
{
	display:inline-block;
}



.search
{
	vertical-align: middle;
	height: 28px;
	background: #69698f;
	border: 1px solid  #61628a;
	font-size: 12px;
	width: 258px;
	
	.search-inp
	{
		line-height:26px;
		background:none;
		border:0;
		width: 226px;
		padding: 0 9px;
		color: #fff;
		float: left;
		
		@include input-placeholder 
		{
			color: #c8c6ce;
			@include transition(all 0.3s);
			font-style:italic;
		}
			
			
		&:focus
		{
			@include input-placeholder { color:transparent} ;
		}
	}
	
	
	.search-but
	{
		float :left;
		width: 30px;
		height: 26px;
		border:0;
		background: image-url("search-ic.svg") no-repeat center center;
		background-size: 15px;
		font-size: 0;
		@include transition(all 0.3s);
		
		&:hover
		{
			opacity: 0.5;
		}
		
	}
}


}



//Footer

.footer
{

	background: image-url("footer-bg.jpg") repeat center top; 
	height: 371px;
	position: absolute;
	bottom:0;
	width:100%;
	padding-top:30px;
	box-sizing:border-box;
	
	&:before
	{
		display:block;
		content:"";
		width:100%;
		height: 5px;
		background: #fff;
		opacity:0.5;
		position:absolute;
		top:0;
	}


.footer-menu
{
	display: inline-block;
	width: 170px;
	font-family: $font-body-bold;
	
	h3
	{
		font-family: $exo-demibold;
		color: #FFFFFF;
		font-size:18px;
		padding-bottom:15px;
		border-bottom:1px solid #4b307a;
		margin-bottom:13px;
		
		a
		{
			color: #FFFFFF;
		}
	}
	
	li
	{
		margin-top: 10px;
		line-height:18px;
		
		a
		{
			color: #becdfb;
			
			&:hover
			{
				color: $purple-light;
			}
		}
	}
}








.footer-socs
{

	padding-right: 38px;
	text-align: right;
	margin-bottom: 30px;
	
	a
	{
		color: #c8c6ce;
		display:inline-block;
		vertical-align:middle;
		margin-left: 7px;
		
		&:hover
		{
			color: #69698f;
		}
		
		&:first-child
		{
			margin-left:0;
		}
	}
	
		
		
	svg
	{
		max-height: 16px;
		
	}
	.icon-facebook 
	{
		height:15px;
		width: 14px;
		
	}
	.icon-twitter 
	{
					height:14px;
		width: 14px;
	}
	.icon-linkedin
	{
								height:16px;
		width: 16px;
	}
			.icon-youtube
	{
								height:16px;
		width: 16px;
	}
}

	

.footer-right
{
	
	color: #becdfb;
	padding-right: 0;
	
	
	.copyright
	{
		text-align:right;
		font-family: $font-body-bold;
		span{
		display: inline-block;	
		border-bottom: 1px solid #4b307a;
		padding-bottom:16px;
		padding-left: 35px;
		margin-bottom:12px;
	}
		

	
	

}	

	
	
	

.subscribe-desc
{
	font-family: $font-body-bold;
	font-size:15px;
	text-align:right;
}


	
	
	.subscribe-input
	{
		border: 1px solid #384e8e;
		line-height:26px;
		padding:0 9px;
		font-size: 12px;
		color: $purple-light;
		width:321px;
		
		@include input-placeholder 
		{
			color: #becdfb;
			@include transition(all 0.3s);
			font-style:italic;
		}
			
		&:focus
		{
			@include input-placeholder { color:transparent} ;
		}
	}
	.subscribe-form
	{
		margin-top: 17px;
	}
	
	.subscribe-button
	{
		border: 1px solid #4b307a;
		line-height:26px;
		padding:0 2px;
		font-size: 12px;
		color: #becdfb;
		width:38px;
		text-align:center;
		background: $purple-dark;
		text-transform:uppercase;
		@include transition(all 0.3s);
		
		&:hover
		{
			background: $purple-light;
		}
	}
	.subscribe-check
	{
		text-align:center;
	}
	
	.subscribe-check-item
	{
		display:inline-block;
		margin-left: 11px;
		
		label
		{
			cursor: pointer;
			margin-left: 2px;
		}
		
		&:first-child
		{
			margin-left:0;
		}
	}



	.subscribe-send-form
	{
		margin-top: 17px;
		text-align:right;
	}
	.subscribe-text
	{
		font-size:12px;
		margin-top: 10px;
		text-align:left;
	}

		
}
		
	
	.created
	{
		position:absolute;
		bottom:53px;
		right:15px;
		color: #becdfb;
		font-family: $font-body-bold;
		
		a
		{
			color: #f0a401;
			
			&:hover
			{
				color: $purple-light;
			}
		}
	}
	
	.container
	{
		height:100%;
		position:relative;
		
		
	}
}




//Other Pgaes

.main-content-container
{
	padding-top: 30px;
	padding-bottom:57px;
}
.page-title
{
		font-family: $exo-demibold;
		color: $purple-dark;
		//text-transform:uppercase;
		font-size: 21px;
		margin-bottom:27px;
		position:relative;
		padding-bottom: 15px;
		border-bottom: 1px solid #b4b1b8;
		
		&:before
		{
			display:block;
			content:"";
			width: 53px;
			height: 8px;
			background: $purple;
			position:absolute;
			top:-15px;
		}
}




.front-pubs-row
{
	margin-top: 60px;
	
	&:first-child
	{
		margin-top: 0;
	}
}