@import "compass/reset";
// base
@import "base";
@import "mixins";



.front-top-news
{
	background:#FFF;
	padding-right: 13px;
	border: 0px solid #e0e0e0;
	height: 552px;
	overflow:hidden;
	margin-bottom:29px;
	
}
.front-leading-news
{
	width: 818px;
	float: left;
}

.front-tweeter-timeline
{
	float: right;
	width: 293px;
}

.readmore
{
	position:absolute;
	bottom:0;
	display:block;
	font-size: 13px;
	color:#fff;
	bottom:15px;
	left: 8px;
	opacity:0;
			@include transition(all 0.8s);
	
}
.front-leading-news-item
{
	position: relative;
	overflow: hidden;
			float: left;
		width:246px;
		height:174px;
		
		a
		{
			display:block;
			font-size:0;
			
			&:hover
			{
				.front-leading-news-text-box
				{
					padding-bottom:35px;
				}
				.readmore
{
	opacity:1;
}
				
				.front-leading-news-text
				{
					height: 300px;
				}
						.front-leading-news-desc
						{
							opacity:1;
						}

	.front-leading-news-text-box-in
	{
		height:129px!important;
		
	}
			}
		}
		
	
	
	&:first-child
	{
		float: left;
		width:555px;
		height:552px;
		margin-right: 17px;
		
	.front-leading-news-text
	{
		height:325px;
	
	}
		
		
	}
	

	&:not(:first-child)
	{
		

			margin-top: 15px;


			.front-leading-news-text-box-in
	{
		//height: 33px;
		overflow:hidden;
		display:block;
		@include transition(all 0.5s);
	}
			.front-leading-news-desc
	{

//height:0;
//overflow:hidden;
	@include transition(all 0.3s);
	opacity:0;
	
	}
		.front-leading-news-title
	{
		font-size: 14px;
		line-height:18px;
		margin-bottom:0;
		max-height:54px;
		overflow:hidden;
	}
		.front-leading-news-date
	{
		display:none;
	}
	.front-leading-news-text-box
	{
		padding:0 8px  17px;

		overflow:hidden;
	}
	}
					
			&:nth-child(2)
			{
				margin-top: 0;
			}
	.front-leading-news-text
	{
		position:absolute;
		bottom:0;
		width: 100%;
	display:block;
		@include background-image(linear-gradient(bottom, rgba($purple-dark, 0.8) 40%, rgba(#fff, 0) 100%));
		height:100px;
			@include transition(all 0.5s);
	}
	
	.front-leading-news-text-box
	{
		position:absolute;
		bottom:0;
		width: 100%;
		padding: 0 24px  34px;
		box-sizing:border-box;
			display:block;
				@include transition(all 0.5s);
	}
	.front-leading-news-desc
	{
		color:#e7e7e7;
		font-family: $font-body-bold;
		font-size:13px;
		line-height: 18px;


	}
	.front-leading-news-title
	{
				font-family: $exo-demibold;
		color: #FFFFFF;
		font-size:18px;
		text-transform:uppercase;
		margin-bottom:8px;
	}
	
	.front-leading-news-date
	{
		color: #c54b7f;
		font-size:13px;
		margin-bottom:9px;
		display:block;
	}
	
	

}






.front-content-right
{
	width:266px;
	
	
}
.front-content-left
{
	padding-left: 53px;
	padding-top: 24px;
	
}



//Promo News Block

.promo-news-item
{
	margin-top: 27px;
	position:relative;
	

	
	a
	{
		display:block;
		font-size: 0;
		
		&:hover
		{
				.promo-news-title
	{
			color: #c54b7f;
			padding-top: 70px;
			min-height:90px;

	}
		}
	}
	
	&:first-child
	{
		margin-top: 0;
	}
	
	
	
	
	.promo-news-title
	{
		position:absolute;
		bottom:0;
		width: 100%;
		@include background-image(linear-gradient(bottom, rgba($purple-dark, 0.8) 40%, rgba(#fff, 0) 100%));
		color: #ffffff;
		font-size: 18px;
		font-family: $exo-demibold;
		padding: 50px 14px 16px; 
		min-height: 70px;
		line-height: 24px;
							@include transition(all 0.3s);
						
	}
}

.section-block
{
	margin-bottom: 47px;
	
	&:last-child
	{
		margin-top: 0;
	}
}

.block-title
{
		font-family: $exo-demibold;
		color: $purple-dark;
		text-transform:uppercase;
		font-size: 21px;
		margin-bottom:45px;
		position:relative;
		margin-top: 15px;
		
		&:before
		{
			display:block;
			content:"";
			width: 53px;
			height: 8px;
			background: $purple;
			position:absolute;
			top:-15px;
		}
}

//Front News

.front-news-items
{
	padding-bottom: 38px;
	border-bottom: 4px solid $gray;
}

.front-news-text-box
{
	display:block;
	max-height: 126px;
	overflow: hidden;
}
.front-news-text
{
	display:block;
	padding-top: 10px;
}

.front-news-row
{
	margin-top: 28px;
	padding-top: 28px;
	border-top: 1px solid #ebebeb;
	
	&:first-child
	{
			margin-top: 0px;
	padding-top: 0px;
	border-top: 0px solid #ebebeb;
	}
}


.front-news-item
{

	a
	{
		display:block;
		
		&:hover
		{
			img
			{
				opacity:0.7;
			}
			.front-news-title
{
	color: $purple;
}
		}
	}
.front-news-item-img
{
	display:block;
	float: left;
	width: 160px;
	height:139px;
	font-size:0;
	margin-right:12px;
	
	img
	{
			@include transition(all 0.3s);
	}
	
}

.front-news-date
{
	color: $purple-light;
			font-family: $font-body-bold;
			font-size: 13px;
			margin-bottom:8px;
			display:block;
}

.front-news-title
{
		color: $purple-dark;
			font-family: $font-body-bold;
			margin-bottom:12px;
			line-height:18px;
}

.front-news-desc
{
	color: $text;
	line-height:18px;
	font-size: 13px;
}

}




//Pubs




.front-pubs-item
{
	
	
	a{
		display: block;
		padding-left: 32px;
		position: relative;
		
	}
	
	
	
	
	.front-pubs-text
	{
		display:block;
		max-height:141px;
		overflow:hidden;
	}
	
	
	
.front-pubs-date
{
	color: $purple-light;
			font-family: $font-body-bold;
			font-size: 13px;
			margin-bottom:8px;
			display:block;
}

.front-pubs-title
{
		color: $purple-dark;
			font-family: $font-body-bold;
			margin-bottom:12px;
			line-height:18px;
}

.front-pubs-desc
{
	color: $text;
	line-height:18px;
	font-size: 13px;
}
	
	
	
}





.front-pubs-items
{
	padding-bottom: 38px;
	border-bottom: 4px solid $gray;
}


.pubs-ic
{
	position: absolute;
	top:0;
	left: 0px;
	
	
	svg
	{
	color: #d80027;
	width:18px;
	height: 20px;
	}
	
}

.bx-custom-arrows
{
	position:absolute;
	top: 21px;
	width: 100%;
}

.custom-slider-next
{
	float: right;
	
}
.custom-slider-prev
{
	float: left;
	
}

.custom-slider-next,
.custom-slider-prev
{
	position:relative;
	color: $purple;
	position:relative;

		
		&:before
		{
					@include border-radius(50px);
		background: #ffffff;
		display: block;
		content: "";
		width: 30px;
		height: 30px;
		position:absolute;
		top:1px;
		left:1px;
		z-index:9;
		}
	@include border-radius(50px);
	font-size: 0;
	
	&:hover
	{
		color: $purple-dark;
	}
	
	a
	{
		display:block;
		width: 32px;
		height: 32px;
		display:block;
		position:absolute;
		top:0;
		left:0;
		font-size: 0;

		z-index:99;
		
}

svg
{
	width: 32px;
	height: 32px;
	@include transition(all 0.3s);
	position:relative;
		z-index:99;

}
}


.front-partners-block
{
	position: relative;	
	
	.bx-wrapper
	{
		margin: 0 auto;
		z-index: 9999;
	}
}

.front-partners-slide
{
	text-align:center;
	position:relative;
	height:75px;
	
	img
{
	display:inline-block;
	position:absolute;
	margin:auto;
	top: 0;
	bottom:0;
	left:0;
	right:0;
	max-height:75px;
	max-width:100%;
}

a
{
	display:inline-block;
	font-size: 0;
	
	&:hover
	{
		opacity:0.7;
	}
}
}


.front-content-bottom
{
	margin-top: 60px;
}


.front-promo-items
{
	position:relative;
	margin-top: 29px;
	
	.bx-custom-arrows
{
	width: 32px;
	right: -14px;
	top: 7px;
	
	
	.custom-slider-prev
	{
		margin-top: 2px;
	}
}
}


.front-promo-slider
{
.promo-news-item
{
	margin-top: 0;
}



}





//Front News

.front-projects-items
{
	padding-bottom: 38px;
	border-bottom: 4px solid $gray;
}

.front-projects-text
{
	display:block;
	padding-top: 10px;
}

.front-projects-row
{
	margin-top: 28px;
	padding-top: 28px;
	border-top: 1px solid #ebebeb;
	
	&:first-child
	{
			margin-top: 0px;
	padding-top: 0px;
	border-top: 0px solid #ebebeb;
	}
}


.front-projects-item
{
	margin-top: 31px;
	padding-top: 31px;
	border-top: 1px solid #b1b1b9;
	
	&:first-child
	{
			margin-top: 0px;
	padding-top: 0px;
	border-top: 0px solid #b1b1b9;
	}

	a
	{
		display:block;
		
		&:hover
		{
			img
			{
				opacity:0.7;
			}
			.front-projects-title
{
	color: $purple;
}
		}
	}
.front-projects-item-img
{
	display:block;
	float: left;
	width: 285px;
	height:214px;
	font-size:0;
	margin-right:12px;
	
	img
	{
			@include transition(all 0.3s);
	}
	
}

.front-projects-date
{
	color: $purple-light;
			font-family: $font-body-bold;
			font-size: 13px;
			margin-bottom:8px;
			display:block;
}

.front-projects-title
{
		color: $purple-dark;
			font-family: $font-body-bold;
			margin-bottom:12px;
			line-height:18px;
			font-size: 18px;
}

.front-projects-text
{
max-height: 169px;
overflow:hidden;	
}
.front-projects-desc
{
	color: $text;
	line-height:18px;
	font-size: 13px;
}

}

.projects-readmore
{
	display:block;
	text-align:right;
	margin-top: 20px;
	color: #6b696c;
	
	&:hover
	{
		color: $purple-light;
	}
}

.icon-arrow-right2 
{
	color: $purple;
	height: 12px;
	width: 8px;
	display: inline-block;
	vertical-align: middle;
}


